.row > .col,
.row > [class^=col-], .bg{
    padding-top: .75rem ;
    padding-bottom: .75rem;
    background-color: rgba(243, 117, 32, .15);
    border: 1px solid rgba(243, 117, 32, .2);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    
 }