body{
    background-color: green;
}

header, footer{
   margin: 2vh auto ;
}

header, nav, main, footer{
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
}

nav, main{
    min-height: 82vh;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    
 }